{% extends "workout_logs/layout.html" %} {% block content %}

<div class="container mt-5">
  <!-- Page heading for the FAQ section -->
  <h1 class="text-center">Workout App FAQ</h1>

  <!-- Accordion for FAQ items -->
  <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Jakie korzyści przynosi regularne uprawianie sportu?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Regularne ćwiczenia sportowe przynoszą wiele korzyści, m.in. poprawę
            kondycji fizycznej, redukcję stresu, utrzymanie zdrowej wagi oraz
            wzmocnienie układu odpornościowego.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Jak często powinienem wykonywać treningi cardio?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Częstotliwość treningów cardio zależy od celów i kondycji fizycznej.
            Ogólnie, zaleca się 3-5 sesji cardio w tygodniu, trwających co
            najmniej 30 minut.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Jakie ćwiczenia mogę wykonywać w domu bez sprzętu?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Istnieje wiele ćwiczeń bez sprzętu, takich jak przysiady, pompki,
            plank, czy skakanka. Można także skorzystać z ćwiczeń na siłowni
            domowej.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Czy treningi siłowe są odpowiednie dla kobiet?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Tak, treningi siłowe są świetnym sposobem na zwiększenie siły i
            poprawę sylwetki zarówno u kobiet, jak i mężczyzn. Mogą przyczynić
            się do lepszej kondycji oraz utrzymania zdrowej masy ciała.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Jakie ćwiczenia są najlepsze dla utraty wagi?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Skuteczne ćwiczenia na utratę wagi obejmują treningi cardio,
            interwałowe, oraz treningi siłowe. Ważne jest także utrzymanie
            zdrowej diety.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Czy treningi online są skuteczne?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Tak, treningi online mogą być bardzo skuteczne. Dostęp do
            różnorodnych programów, instrukcji wideo i wsparcia online
            umożliwiają skuteczną pracę nad kondycją w dowolnym miejscu i
            czasie.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          Czy istnieją ćwiczenia dla początkujących?
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Tak, istnieje wiele ćwiczeń dedykowanych początkującym, które
            pomagają zbudować siłę, wytrzymałość i poprawić technikę wykonywania
            ćwiczeń.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEight"
          aria-expanded="false"
          aria-controls="collapseEight"
        >
          Jak unikać kontuzji podczas treningu?
        </button>
      </h2>
      <div
        id="collapseEight"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Aby unikać kontuzji, ważne jest rozgrzewanie przed treningiem,
            stosowanie prawidłowej techniki, stopniowe zwiększanie
            intensywności, oraz słuchanie sygnałów ciała.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseNine"
          aria-expanded="false"
          aria-controls="collapseNine"
        >
          Czy treningi interwałowe są skuteczne?
        </button>
      </h2>
      <div
        id="collapseNine"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Tak, treningi interwałowe są bardzo skuteczne, pozwalając na
            spalanie kalorii, poprawę kondycji tlenowej, oraz przyspieszenie
            metabolizmu.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTen"
          aria-expanded="false"
          aria-controls="collapseTen"
        >
          Jakie znaczenie ma dieta w treningu?
        </button>
      </h2>
      <div
        id="collapseTen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Dieta odgrywa kluczową rolę w osiąganiu celów treningowych. Właściwe
            nawyki żywieniowe wspierają budowę mięśni, regenerację oraz utratę
            wagi.
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseEleven"
          aria-expanded="false"
          aria-controls="collapseEleven"
        >
          Czy ćwiczenia stretchingowe są ważne?
        </button>
      </h2>
      <div
        id="collapseEleven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="answer">
            Tak, ćwiczenia stretchingowe są ważne dla utrzymania elastyczności
            mięśni, poprawy zakresu ruchu oraz zapobiegania kontuzjom.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
